
:root{
    --font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;;
    --primGreen:#008700;
    --secGreen:#9bbc3b;
    --primOrange:orange;
    --white:#ffffff;
    --gray:#c0c0c0;
}

html{
    font-size:62.5%; /*1rem*/
    box-sizing: border-box;
}
#root{
    height:100%;
}

body{
    font:1.6rem var(--font-family);
    height:100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.grid-container{
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows:4rem 1fr auto ;
    height: 100%;
}  

/*Added Boostrap to takecare of this
.container{
    width: 80%;
    margin:0 auto;
}*/

/*Header style*/
.header{
    grid-area:header;  
}

.logo{
    text-decoration: none;
    color:green;
}
.menu-item{
    padding-left:3.2rem;
}
.links{
    text-decoration: none;
    color:green;
}
.links:hover{
    color:var(--primOrange);
    transition: .2s;
    text-decoration: none;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding:.3rem 0;
}

nav .brand{
    font-size: 3rem;
    
}
nav .brand span{
    color:var(--primOrange);
}
.top-bg-img{
    max-height: 100vh;
    width:1200px ;
}
.bg-img{
    width: 100%;
    height: 60rem;
}
.sidebar{
    display:none;
    
}
/*On open*/
.sidebar .open{
    display: block;
    position:absolute;
    z-index:999;
    width: 30rem;
    height: 100vh;
    transform:translateX(0);
    background: var(--primOrange); 

}
/*
.mobile-nav-list{
    list-style: none;
    
}
.mobile-nav-item{
    color: var(--primGreen);  
}

.mobile-nav-item:hover{
    color:var(--white);
    transition: 0.2s;
}
/*Main style*/
.main{
    grid-area:main;
}
/*Product list*/

ul{
    padding:0;
    margin:0;
}


.row li{
    list-style: none;
    padding:0;
   /* flex:0 1 28rem;*/
    margin:2rem auto;
    height: 100%;
    max-width: 34rem;
    border-bottom: .1rem var(--gray) solid;
}

.prod-img{
max-width: 34rem;
max-height: 34rem;
}
.prod-name{
    font-size:2rem;
    font-weight: bold;
   
}
.prod-category{
    font-size-adjust: 1.2rem;
    color:var(--gray);
   
}

.prod-price{
    font-size: 2rem;
    font-weight: bold;
    
}
.prod-rating{
    margin-bottom:1rem;
    padding:.5rem;
}

/*Footer style*/
.footer{
    grid-area: footer; 
    
}
.main-footer{
    background-color:var(--primGreen);
    height:100%;
    padding:1.5rem 0;
}
.footer-header{
    color:var(--white);
}
.footer-items{
    display: flex;
    justify-content: space-between;
    color: var(--secGreen);
    flex-wrap: wrap;
}

.footer-bottom{
    color:var(--primGreen);
    text-align: center;
    padding:1.5rem;
}

/*Mobile */
.humberger{
   display: none;

}

/*Product Page*/
.details{
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:1rem;

}
.details-image{
    flex:2 1 60rem;
}
.details-image img{
    max-width: 60rem;
    widows:100%;
    margin-bottom: 1rem;
}

.details-info{
    flex:1 1 30rem;
}

.details-info ul, .detail-action ul{
    list-style: none;
    padding:1;  
    margin-bottom: 1rem;
    
}
.details-action ul li:last-child{
    display: flex;
    flex-direction: column;
}

.btn{
    padding:1rem;
    background: var(--primGreen);
    color:var(--white);
    font-size:1.6rem;
    
}
.btn:hover{
    background: var(--primOrange);
    transition: .5s;
    color:var(--white);
}

.details-info li, .detail-action li{
  margin:1.5rem 0;
}
.go-back{
    padding: 2rem;
}
.details-action{
    border: .1rem var(--primGreen) solid;
    border-radius: 0.5rem;
    background: #f8f8f8;
    padding: 0.5rem 1.5rem;
}
@media (min-width: 481px) and (max-width: 767px) {
  
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .humberger{
    display:inline;  
    font-size:3rem;
    padding:.5rem 1.5rem;
    background:none;
    border:none;
    outline:none;
    color:var(--primOrange);
    cursor: pointer;
    position: absolute;
    right:0;

}

    .menu-links{
        display:none;
    }
  
}
